footer {
  background-color: #3b3b3b;
  .card {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 30px 7rem;
    margin-top: 100px;

    .text {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
      h3 {
        font-weight: 400;
        font-size: 16px;
        color: #cccccc;
      }
      h2 {
        font-weight: 700;
        font-size: 22px;
        color: #ffffff;
      }
      input {
        padding: 21px 20px;
        background-color: #ffffff;
        border-radius: 20px;
        color: #2b2b2b;
        border: none;
        width: 400px;
      }
      input::placeholder {
        font-weight: 400;
        font-size: 16px;
        color: #2b2b2b;
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        padding: 20px 40px;
        border: none;
        border-radius: 20px;
        font-weight: 600;
        font-size: 16px;
        color: #ffffff;
        background-color: #a259ff;
        margin-left: -156px;
      }
      .btn {
        display: flex;
        align-items: start;
        justify-content: center;
      }
    }
  }
}
.btxt {
  padding: 0 5rem;
  h2 {
    font-weight: 400;
    font-size: 12px;
    color: #cccccc;
    padding: 20px 0;
  }
}
