.img {
  width: 100%;
  margin-top: 10px;
}
.cards {
    margin-top: 100px;
  .text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    padding: 10px 5rem;
    h1 {
      font-weight: 600;
      font-size: 51px;
      color: #ffffff;
    }
    h3 {
      font-weight: 400;
      font-size: 22px;
      color: #858584;
    }
    h4 {
      font-weight: 700;
      font-style: Bold;
      font-size: 22px;
      color: #858584;
    }
    h5 {
      font-weight: 600;
      font-size: 22px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    p {
      font-weight: 400;
      font-size: 20px;
      
    }
  }
}
