nav {
  .hamburger {
    display: none;
  }
  padding: 10px 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .links {
    display: flex;
    align-items: center;
    gap: 30px;
    a {
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      text-decoration: none;
      color: white;
    }
    a:hover {
      font-weight: 700;
      font-size: 20px;
      color: #a259ff;
    }
    button {
      display: flex;
      gap: 12px;
      padding: 20px 30px;
      background-color: #a259ff;
      border-radius: 20px;
      font-weight: 600;
      font-size: 16px;
      text-align: center;
      color: white;
      border: none;
    }
    button:hover {
      padding: 17px 25px;
      background-color: #814ac9;
    }
  }
}
