@import "navbar";
@import "header";
@import "section";
@import "footer";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: #2b2b2b;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
}
.btns {
  display: flex;
  gap: 20px;
}
.btn {
  padding: 12px 30px;
  background-color: #3b3b3b;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border-radius: 20px;
  border: none;
}
